:root {
  --dark-blue: #2c2b3d;
  --sea-green: #00bfa6;
  --light-grey: #c2c2c2;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;

  min-height: 100vh;
  background: var(--dark-blue);
}

nav,
h1,
footer {
  font-family: "JetBrains Mono", monospace;
  color: var(--white);
}

.page {
  width: 1280px;
  margin: 0 auto;
  padding-top: 71px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 100px;
}

ul {
  list-style: none;
  display: flex;
  gap: 64px;
}

li a,
footer a {
  text-decoration: none;
  color: var(--white);
}

li a:hover,
footer a:hover {
  text-decoration: underline;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 67px;
}

h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 60px;
}

h1 span,
p + p strong {
  color: var(--sea-green);
}

section p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;

  color: var(--light-grey);
  text-align: center;
  width: 600px;
  margin: 40px 0;
}

footer {
  font-weight: 500;
  font-size: 14px;

  text-align: center;
  margin-top: 160px;
}

.line {
  width: 570px;
  border: 1px solid #00bfa6;
  margin: 0 auto 27px;
}

footer a {
  text-decoration: none;
}

.locker {
  position: fixed;
  bottom: 20px;
  left: 20px;
}
